* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    z-index: -1;
    width: 133px;
    object-fit: contain;
    object-position: center;  
}
.wrapper {
    background-color: rgba(241, 236, 230, 0.221);
    margin: 0 auto;
    width: 470px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    padding: 10px;
}
.title {
    display: flex;
    justify-content: space-between;
}

.text {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.photo {
    z-index: 1;
    border: 2px solid rgba(0, 0, 0, 0.578);
    width: 133px;
    height: 170px;
    overflow: hidden;
}

.links {
    margin-top: 5px;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: blue;
}
h2 {
    margin-bottom: 20px; 
}

.kontakt {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.info {
    margin-top: 5px;
}

.info_text {
    padding-top: 3px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    border-top: 1px solid rgba(0, 0, 0, 0.4);
}

.info_about {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}

p, li {
    font-size: 10px;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.info_texts {
    display: flex;
    justify-content: space-between;
    gap: 1px;
}

.info_about p:last-child {
    display: flex;
    flex-direction: column;
    justify-content: end;  
}
 a {
    font-size: 10px;
 }